[user]
	name = Philbert Yoon
	email = yngpil.yoon@gmail.com
	signedkey = 57008F46EA55163B
[core]
	editor = nvim
	pager = less -+XF -Qc
	excludesfile = ~/.gitexclude
	trustctime = false
	fscache = true
	autocrlf = false
	quotepath = false
	precomposeunicode = true
	untrackedCache = true
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[apply]
	whitespace = fix
[log]
	date = iso8601
[color]
	ui = auto
[diff]
	renames = copies
	tool = vimdiff
[diff "bin"]
	textconv = hexdump -v -C
[difftool]
	prompt = false
[fetch]
	prune = true
[branch]
	autosetuprebase = always
[push]
	default = simple
	followTags = true
[pull]
	rebase = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
[credential "https://github.com"]
	username = ziwon
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	# use gitalias.txt
	# https://github.com/GitAlias/gitalias
[commit]
	gpgsign = true
[rerere]
	enabled = true
[stash]
	showPatch = true
[status]
	showStash = true
[submodule]
	fetchJobs = 0
[help]
	autocorrect = 1
[include]
	path = .gitalias.txt
